{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'caveats.css' %}" />
{% endblock %}


{% block main %}

<div class="container">
    <header>
        <h1>{{ caveat.title }} <span class="text-muted">#{{ caveat.id }}</span></h1>

        <p class="text-center mb-2">
            <strong>{{ caveat.get_creator_display }}</strong> opened this caveat on {{ caveat.created|date }}.
        </p>

        <p class="text-center mb-2">
        {% if request.user in caveat.subscribers.all %}
        <a href="{% url 'caveat_unsubscribe' caveat.id %}">
            <span class="badge badge-pill badge-light">
                <i class="fas fa-eye-slash"></i> {% trans 'Unsubscribe' %}
            </span>
        </a>
        {% else %}
        <a href="{% url 'caveat_subscribe' caveat.id %}">
            <span class="badge badge-pill badge-light">
                <i class="fas fa-eye"></i> {% trans 'Subscribe' %}
            </span>
        </a>
        {% endif %}
        </p>

        <p class="text-center mb-2">
        {% if not caveat.public %}
            {% include 'caveats/snippets/not_public.html' %}
        {% endif %}
        </p>
    </header>

    <div class="row">
        <div class="col-md-9">
            <h3>{% trans 'Discussion' %}</h3>
            <div class="card mb-2">
                <div class="card-header">
                    <strong>{{ caveat.get_creator_display }}</strong> reported on {{ caveat.created|date }}.
                </div>
                <div class="card-body">
                    {% if request.user.is_staff %}
                    <a class="d-block float-right" href="{% url 'admin:caveats_caveat_change' caveat.id %}">
                        <i class="fas fa-pen"></i>
                    </a>
                    {% endif %}

                    {{ caveat.description|linebreaksbr|urlize }}
                </div>
            </div>

            {% if caveat.has_figures %}
            {% include 'annotations/cards/figures.html' with figures=caveat.figures.all col=12 mb=2 %}
            {% endif %}

            {% include 'caveats/cards/comments.html' %}
        </div>

        <div class="col-md-3">
            <h3>{% trans 'Details' %}</h3>
            <div class="card">
                <div class="card-body">
                    {% if request.user.is_staff %}
                    <a class="d-block float-right" href="{% url 'admin:caveats_caveat_change' caveat.id %}">
                        <i class="fas fa-pen"></i>
                    </a>
                    {% endif %}

                    <dl>
                        <dt>{% trans 'Severity' %}</dt>
                        <dd>
                            <div>
                                {% include 'caveats/snippets/severity.html' %}
                            </div>
                            <div class="mt-1">
                                {% include 'caveats/snippets/severity_message.html' %}
                            </div>
                        </dd>
                        <dt>{% trans 'Status' %}</dt>
                        <dd>
                            {% include 'caveats/snippets/status.html' %}
                        </dd>
                        <dt>{% trans 'Versions' %}</dt>
                        <dd>
                            {% include 'caveats/snippets/versions.html' %}
                        </dd>
                        {% for identifier, specifiers in caveat.pretty_specifiers.items %}
                        <dt>{{ identifier }}</dt>
                        <dd>
                            {{specifiers|join:', '}}
                        </dd>
                        {% endfor %}
                    </dl>
                </div>
            </div>

            {% if caveat.has_downloads %}
            <h3 id="downloads">{% trans 'Downloads' %}</h3>
            {% include 'annotations/cards/downloads.html' with downloads=caveat.downloads.all %}
            {% endif %}
        </div>
    </div>

    {% if datasets %}
    <h3>{% trans 'Affected datasets' %}</h3>
    <div class="row">
        <div class="col-sm-12">
            <div class="card mb-1">
                <div class="card-body">
                    <p>
                        There are {{ count }} datasets affected by this caveat. {% if count > settings.CAVEATS_MAX_DATASETS %}Here we only display the first {{ settings.CAVEATS_MAX_DATASETS }} datasets.{% endif %} You can download a complete list of all the <a href="{% url 'caveat-detail-datasets' caveat.id %}">datasets</a>, or <a href="{% url 'caveat-detail-files' caveat.id %}">files</a> affected by this caveat as JSON. Alternatively,  can also download a list the files <a href="{% url 'caveat-detail-filelist' caveat.id %}">as a flat file</a> suitable for Wget. You can use the search interface to further restrict your <a class="break-link" href="{{ search_url }}" target="_blank">query</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% include 'metadata/cards/datasets.html' %}
    {% endif %}
</div>

{% endblock %}
