{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block main %}

<div class="container">
    <header>
        <h1>{{ caveat.title }} <span class="text-muted">#{{ caveat.id }}</span></h1>

        <p class="text-center">

        </p>

        <p class="text-center">
            {{ caveat.get_creator_display }} opened this caveat {{ caveat.created|timesince }} ago.
        </p>
    </header>

    <h3>{% trans 'Details' %}</h3>
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-2">{% trans 'Title' %}</dt>
                <dd class="col-sm-10">{{ caveat.title }}</dd>
                <dt class="col-sm-2">{% trans 'Description' %}</dt>
                <dd class="col-sm-10">{{ caveat.description }}</dd>
                <dt class="col-sm-2">{% trans 'Severity' %}</dt>
                <dd class="col-sm-10">
                    {% include 'caveats/snippets/severity.html' %}
                </dd>
                <dt class="col-sm-2">{% trans 'Status' %}</dt>
                <dd class="col-sm-10">
                    {% include 'caveats/snippets/status.html' %}
                </dd>
                <dt class="col-sm-2">{% trans 'Versions' %}</dt>
                <dd class="col-sm-10">
                    {% include 'caveats/snippets/versions.html' %}
                </dd>
                {% for identifier, specifiers in specifiers.items %}
                <dt class="col-sm-2">{{ identifier }}</dt>
                <dd class="col-sm-10">
                    {{specifiers|join:', '}}
                </dd>
                {% endfor %}
            </dl>
        </div>
    </div>

    {% if datasets %}
    <h3>{% trans 'Affected datasets' %}</h3>
    {% include 'metadata/cards/datasets.html' %}
    {% endif %}
</div>

{% endblock %}
