{% extends 'core/base.html' %}
{% load static %}

{% block main %}

<div class="container">
    <header>
        <h1>Issues and notes</h1>

        <p class="text-center">
            If you want to get notified, when we find issues found in the ISIMIP input and output data, please subscribe to our <a href="{{ settings.CAVEATS_LIST_SUBSCRIBE_URL }}">data issues and notes mailing list</a>.
        </p>

        <p class="text-center">
            The archive of this mailing list can be accessed <a href="{{ settings.CAVEATS_LIST_ARCHIVE_URL }}">here</a>.
        </p>

        <p class="text-center">
            If you encounter problems with the data yourself and want to notify us, please contact <a href="mailto:isimip-data@pik-potsdam.de">isimip-data@pik-potsdam.de</a>.
        </p>
    </header>

    {% if caveats %}
    {% include 'caveats/cards/caveats.html' %}
    {% endif %}
</div>

{% endblock %}
