{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'caveats.css' %}" />
{% endblock %}


{% block main %}

<div class="container">
    <header>
        <h1>{{ caveat.title }} <span class="text-muted">#{{ caveat.id }}</span></h1>

        <p class="text-center mb-2">
            {{ caveat.get_creator_display }} opened this caveat {{ caveat.created|timesince }} ago.
            {% include 'caveats/snippets/not_public.html' %}
        </p>

        <p class="text-center mb-2">
        {% if request.user in caveat.subscribers.all %}
        <a href="{% url 'caveat_unsubscribe' caveat.id %}"><i class="fas fa-eye-slash"></i> {% trans 'Unsubscribe' %}</a>
        {% else %}
        <a href="{% url 'caveat_subscribe' caveat.id %}"><i class="fas fa-eye"></i> {% trans 'Subscribe' %}</a>
        {% endif %}
        </p>
    </header>

    <h3>{% trans 'Details' %}</h3>
    <div class="card">
        <div class="card-body">
            {% if request.user.is_staff %}
            <a class="d-block float-right" href="{% url 'admin:caveats_caveat_change' caveat.id %}">
                <i class="fas fa-pen"></i>
            </a>
            {% endif %}

            <dl class="row">
                <dt class="col-sm-2">{% trans 'Title' %}</dt>
                <dd class="col-sm-10">{{ caveat.title }}</dd>
                <dt class="col-sm-2">{% trans 'Description' %}</dt>
                <dd class="col-sm-10">{{ caveat.description }}</dd>
                <dt class="col-sm-2">{% trans 'Severity' %}</dt>
                <dd class="col-sm-10">
                    {% include 'caveats/snippets/severity.html' %}
                </dd>
                <dt class="col-sm-2">{% trans 'Status' %}</dt>
                <dd class="col-sm-10">
                    {% include 'caveats/snippets/status.html' %}
                </dd>
                <dt class="col-sm-2">{% trans 'Versions' %}</dt>
                <dd class="col-sm-10">
                    {% include 'caveats/snippets/versions.html' %}
                </dd>
                {% for identifier, specifiers in specifiers.items %}
                <dt class="col-sm-2">{{ identifier }}</dt>
                <dd class="col-sm-10">
                    {{specifiers|join:', '}}
                </dd>
                {% endfor %}
            </dl>
        </div>
    </div>

    <h3 id="comments">{% trans 'Comments' %}</h3>
    {% include 'caveats/cards/comments.html' %}

    {% if datasets %}
    <h3>{% trans 'Affected datasets' %}</h3>
    {% include 'metadata/cards/datasets.html' %}
    {% endif %}
</div>

{% endblock %}
