<div>
{% for identifier in widget.identifiers %}
    <div class="field-identifier">
        <strong>{{ identifier.identifier }}:</strong>

        {% for specifier in identifier.specifiers %}
        {% if specifier is not None %}
        {% with 'id_specifiers_'|add:identifier.identifier|add:'_'|add:specifier as id %}
        <span class="field-specifier">
            <input type="checkbox" id="{{ id }}" {% if id in widget.value %}checked{% endif %}
                   name="specifiers_{{ identifier.identifier }}" value="{{ specifier }}">
            <label class="vCheckboxLabel" for="{{ id }}">{{ specifier }}</label>
        </span>
        {% endwith %}
        {% endif %}
        {% endfor %}
    </div>
    {% if not forloop.last %}<hr />{% endif %}
{% endfor %}
</div>
