{% load i18n %}

<div class="row">
    {% for figure in figures %}
    <div class="col-md-{{ figure.width }}">
        <div class="card {% if mb %}mb-{{ mb }}{% endif %}">
            <div class="card-body">
                <div class="card-text text-center">
                    <a href="{{ figure.image.url }}" data-toggle="modal" data-target="#figure-modal-{{ forloop.counter }}">
                        <img class="img-fluid" src="{{ figure.image.url }}" alt="{{ figure.title }}">
                    </a>
                </div>
                <div class="mt-1">
                    <strong>{{ figure.title }}</strong>{% if figure.caption %}<strong>:</strong>
                    {{ figure.caption|linebreaksbr|urlize }}
                    {% endif %}
                </div>
                {% if figure.credits %}
                <div class="text-muted mt-1">{% trans 'Credit:' %} {{ figure.credits|linebreaksbr|urlize }}</div>
                {% endif %}
            </div>
        </div>

        <div class="modal" id="figure-modal-{{ forloop.counter }}" tabindex="-1"
             role="dialog" aria-labelledby="previewModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="card-text text-center mb-3">
                    <img class="img-fluid" src="{{ figure.image.url }}" alt="{{ figure.title }}">
                </div>
                {% if figure.caption %}
                <div class="mt-1"><strong>{{ figure.title }}:</strong> {{ figure.caption|linebreaksbr|urlize }}</div>
                {% endif %}
                {% if figure.credits %}
                <div class="text-muted mt-1">{% trans 'Credit:' %} {{ figure.credits|linebreaksbr|urlize }}</div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
