__pycache__/
*.py[cod]

*~
*-
*.swp
*.save
.DS_Store

/config/settings/local*

/isimip_data/core/assets/fonts/

/static
/static_root
/media_root
/node_modules
/env
/.env
/.pytest_cache
/.ruff_cache
/.coverage
/.gitkey
/htmlcov
/log
