{% for nameIdentifier in name.nameIdentifiers %}
    {% if nameIdentifier.nameIdentifierScheme == 'ORCID' %}
    <a class="orcid-link" href="https://orcid.org/{{ nameIdentifier.nameIdentifier }}">
        {{ nameIdentifier.nameIdentifier }}
    </a>
    {% elif nameIdentifier.nameIdentifierScheme == 'ROR' %}
    <a class="ror-link" href="https://ror.org/{{ nameIdentifier.nameIdentifier }}">
        {{ nameIdentifier.nameIdentifier }}
    </a>
    {% else %}
    <i>({{ nameIdentifier.nameIdentifierScheme }}: {{ nameIdentifier.nameIdentifier }})</i>
    {% endif %}
{% endfor %}
