<div class="d-lg-flex">
    {% if obj.specifiers.simulation_round %}
    <span class="badge" style="background-color: #FABA53;"
        data-toggle="tooltip" data-placement="bottom" title="Simulation round">
        {{ obj.specifiers.simulation_round }}
    </span>
    {% endif %}
    {% if obj.specifiers.product %}
    <span class="badge badge-secondary"
        data-toggle="tooltip" data-placement="bottom" title="Product">
        {{ obj.specifiers.product }}
    </span>
    {% endif %}
    {% if obj.specifiers.category %}
    <span class="badge badge-success"
        data-toggle="tooltip" data-placement="bottom" title="Category">
        {{ obj.specifiers.category }}
    </span>
    {% endif %}
    {% if obj.specifiers.sector %}
    <span class="badge badge-success"
        data-toggle="tooltip" data-placement="bottom" title="Sector">
        {{ obj.specifiers.sector }}
    </span>
    {% endif %}
    {% if obj.specifiers.model %}
    <span class="badge badge-primary"
        data-toggle="tooltip" data-placement="bottom" title="Impact model">
        {{ obj.specifiers.model }}
    </span>
    {% endif %}
    {% if obj.specifiers.climate_forcing %}
    <span class="badge badge-info"
        data-toggle="tooltip" data-placement="bottom" title="Climate forcing">
        {{ obj.specifiers.climate_forcing }}
    </span>
    {% endif %}
    {% if obj.specifiers.period %}
    <span class="badge badge-light"
        data-toggle="tooltip" data-placement="bottom" title="Period">
        {{ obj.specifiers.period }}
    </span>
    {% endif %}

    <span class="ml-auto invisible"></span>

    {% if obj.resources.first %}
    <a class="badge badge-light" href="{{ obj.resources.first.doi_url }}" target="blank"
       data-toggle="tooltip" data-placement="bottom"
       title="This dataset can be cited using the Digital Object Identifier: {{ obj.resources.first.doi_url }}.">
      {{ obj.resources.first }}
    </a>
    {% endif %}
    <a class="badge badge-light" href={dataset.terms_of_use.terms_of_use_url} target="blank"
       data-toggle="tooltip" data-placement="bottom"
       title="{{ obj.terms_of_use.terms_of_use }}">
      ToU
    </a>
    <span class="badge badge-light"
        data-toggle="tooltip" data-placement="bottom"
        title="This dataset is published under the {{ obj.rights_dict.rights }}.">
        {{ obj.rights_dict.short }}
    </span>
    {% if not obj.public %}
    <span class="badge badge-danger"
          data-toggle="tooltip" data-placement="bottom"
          title="This dataset is archived and currently not available for download. Please contact support if you need this version of the dataset.">
      Archived
    </span>
    {% endif %}
    <span class="badge badge-dark"
        data-toggle="tooltip" data-placement="bottom"
        title="The version for this dataset (YYYYMMDD).">
        {{ obj.version }}
    </span>
</div>
