{% extends 'core/base.html' %}
{% load static %}
{% load home_tags %}

{% block main %}

<div class="container">
    <div class="row justify-content-sm-center text-center">
        <div class="col-md-8">
            <header class="mb-5 mt-5">
                <h1 class="mb-5">
                    Welcome to the ISIMIP Repository
                </h1>

                <p class="text-center">
                    Here you will find data relating to the <a href="http://www.isimip.org">Inter-Sectoral Impact Model Intercomparison Project</a> (ISIMIP). Use of these data are subject to the <a href="http://www.isimip.org/protocol/terms-of-use">ISIMIP terms of use</a>.
                    Documentation of the impact models that provided impact simulations for this archive can be found in the <a href="https://www.isimip.org/impactmodels/">ISIMIP Impact Model Database</a>.
                </p>
            </header>
        </div>
    </div>

    <h3>Search the ISIMIP Repository</h3>
    <form id="metadata-form" class="mb-5" method="GET" action="{% url 'search' %}">
        <div class="form-row">
            <div class="col">
                <input class="form-control" name="query" placeholder="Search for variable, sector, scenario, climate forcing, ..." />
                <small class="form-text text-muted text-left">You can use any specifier from the <a href="https://www.isimip.org/protocol/">ISIMIP protocols</a>, e.g. "qtot", "water_global", "rcp26", "climate", "water_global",  etc. You can also directly use the <a href="{% url 'search' %}">advanced search interface</a>.</small>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-light" type="button" onClick={this.handleSubmit}>
                    Search
                </button>
            </div>
        </div>
    </form>

    <h3>Input data</h3>

    <div class="card">
        <div class="card-body pt-4 pb-0">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/climate.jpg' %}" alt="Climate forcing"/>
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'InputData' 'climate' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@nasa">NASA</a> on <a href="https://unsplash.com/photos/i9w4Uy1pU-s">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Climate forcing</h5>
                    <p>
                        Climate and climate-related forcing data for the {% home_inline_list 'InputData' 'climate' %} simulation rounds.
                    </p>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/socioeconomic.jpg' %}" alt="Socioeconomic forcing"/>
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'InputData' 'socioeconomic' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@rstar50">Roger Starnes Sr</a> on <a href="https://unsplash.com/photos/cKpqTbJevKs">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Socioeconomic forcing</h5>
                    <p>
                        Socioeconomic datasets for the {% home_inline_list 'InputData' 'socioeconomic' %} simulation rounds.
                    </p>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/geo_conditions.jpg' %}" alt="Static geographic information"/>
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'InputData' 'geo_conditions' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@greg_rosenke">Greg Rosenke</a> on <a href="https://unsplash.com/photos/3ULMRQZ5APA">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5 class="">Static geographic information</h5>
                    <p>
                        Geographic data and information for the {% home_inline_list 'InputData' 'geo_conditions' %} simulation rounds.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h3>Output data</h3>

    <div class="card">
        <div class="card-body pt-4 pb-0">
            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/agriculture.jpg' %}" alt="Agriculture sector">
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'OutputData' 'agriculture' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@jxk">Jan Kopřiva</a> on <a href="https://unsplash.com/photos/LTMaAwxanGk">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Agriculture sector</h5>
                    <p>
                        Output data from the {% home_inline_list 'OutputData' 'agriculture' %} simulation rounds.
                    </p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/biodiversity.jpg' %}" alt="Terrestrial biodiversity sector">
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'OutputData' 'biodiversity' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@juanmacllas">Juanma Clemente-Alloza</a> on <a href="https://unsplash.com/photos/2fpyPtVcm2M">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Terrestrial biodiversity sector</h5>
                    <p>
                        Output data from the {% home_inline_list 'OutputData' 'biodiversity' %} simulation rounds.
                    </p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/biomes.jpg' %}"alt="Biomes sector">
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'OutputData' 'biomes' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@jasperboer">Jasper Boer</a> on <a href="https://unsplash.com/photos/LJD6U920zVo">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Biomes sector</h5>
                    <p>
                        Output data from the {% home_inline_list 'OutputData' 'biomes' %} simulation rounds.
                    </p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/fire.png' %}" alt="Fire sector">
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'OutputData' 'fire' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@egor_vikhrev">Egor Vikhrev</a> on <a href="https://unsplash.com/photos/-E6jqIGzgOY">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Fire sector</h5>
                    <p>
                        Output data from the {% home_inline_list 'OutputData' 'fire' %} simulation round.
                    </p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/forestry.jpg' %}" alt="Fire sector">
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'OutputData' 'forestry' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@vradenburg">Adam Vradenburg</a> on <a href="https://unsplash.com/photos/_gu7E90QChU">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Regional forests sector</h5>
                    <p>
                        Output data from the {% home_inline_list 'OutputData' 'forestry' %} simulation round.
                    </p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/health.jpg' %}" alt="Fire sector">
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'OutputData' 'health' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@mdominguezfoto">Martha Dominguez de Gouveia</a> on <a href="https://unsplash.com/photos/KF-h9HMxRKg">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Temperature-related mortality sector</h5>
                    <p>
                        Output data from the {% home_inline_list 'OutputData' 'health' %} simulation round.
                    </p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/lakes_global.jpg' %}" alt="Lakes (global) sector">
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'OutputData' 'lakes_global' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@josswoodhead">Joss Woodhead</a> on <a href="https://unsplash.com/photos/OHMsnLTejfM">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Lakes (global) sector</h5>
                    <p>
                        Output data from the {% home_inline_list 'OutputData' 'lakes_global' %} simulation rounds.
                    </p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/lakes_local.jpg' %}" alt="Lakes (local) sector">
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'OutputData' 'lakes_local' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@wesleygibbs">Wesley Gibbs</a> on <a href="https://unsplash.com/photos/nmXRwI_--Fo">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Lakes (local) sector</h5>
                    <p>
                        Output data from the {% home_inline_list 'OutputData' 'lakes_local' %} simulation rounds.
                    </p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/marine-fisheries_global.jpg' %}" alt="Fisheries & Marine Ecosystems (global) sector">
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'OutputData' 'marine-fishery_global' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@frogman39">Jet Kim</a> on <a href="https://unsplash.com/photos/_w-VVA8PrC0">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Fisheries & Marine Ecosystems (global) sector</h5>
                    <p>
                        Output data from the {% home_inline_list 'OutputData' 'marine-fishery_global' %} simulation round.
                    </p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/marine-fisheries_regional.jpg' %}" alt="Fisheries & Marine Ecosystems (regional) sector">
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'OutputData' 'marine-fishery_regional' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@ycko">Yungchuan KO</a> on <a href="https://unsplash.com/photos/mMQdtuu_7IA">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Fisheries & Marine Ecosystems (regional) sector</h5>
                    <p>
                        Output data from the {% home_inline_list 'OutputData' 'marine-fishery_regional' %} simulation round.
                    </p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/permafrost.jpg' %}" alt="Permafrost sector">
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'OutputData' 'permafrost' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@malcoo">Tomáš Malík</a> on <a href="https://unsplash.com/photos/9XQzqcAr-3I">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5 class="card-title">Permafrost sector</h5>
                    <p>
                        Output data from the {% home_inline_list 'OutputData' 'permafrost' %} simulation rounds.
                    </p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/water_global.jpg' %}" alt="Water (global) sector">
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'OutputData' 'water_global' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@kietbeo778">Nguyen Kiet</a> on <a href="https://unsplash.com/photos/OGp18qMyq-k">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Water (global) sector</h5>
                    <p>
                        Output data from the {% home_inline_list 'OutputData' 'water_global' %} simulation rounds.
                    </p>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="home-img-wrapper mb-3">
                        <img src="{% static 'images/home/water_regional.jpg' %}" alt="Water (regional) sector">
                        <div>
                            <p>Please select a simulation round:</p>
                            <ul>
                                {% home_list 'OutputData' 'water_regional' %}
                            </ul>
                            <p>
                                Photo by <a href="https://unsplash.com/@cedric">Cédric Dhaenens</a> on <a href="https://unsplash.com/photos/Ul-1-YbuyX4">Unsplash</a>
                            </p>
                        </div>
                    </div>
                    <h5>Water (regional) sector</h5>
                    <p>
                        Output data from the {% home_inline_list 'OutputData' 'water_regional' %} simulation rounds.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-sm-center text-center">
        <div class="col-md-8">

            <p class="mb-3">
                If you want to get notified, when we find issues in the ISIMIP input and output data, please
                <a href="https://www.listserv.dfn.de/sympa/info/isimip-data_updates">subscribe to our caveats and updates mailing list</a>.  The archive of this mailing list can be accessed <a href="https://www.listserv.dfn.de/sympa/arc/isimip-data_updates">here</a>.
            </p>

            <p class="mb-3">
                In order to refine the portal and to improve user convenience we would appreciate your feedback on the portal. So, please use the portal for searching and downloading input data and collect feedback from your sector about experiences, pitfalls and things that should be improved.
            </p>

            <p>
                Your feedback as well as any questions related to ISIMIP can be directed to <a href="mailto:info@isimip.org?subject=ISIMIP%20inquiry">info@isimip.org</a>.
            </p>
        </div>
    </div>
</div>

{% endblock %}
