{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
{% endblock %}

{% block content %}

<h1>
    {% trans 'Upload JSON file with values' %}
</h1>

<p>
    The JSON file needs to be of the format:
</p>

<pre>[
    {
        "simulation_round": "ISIMIP2a",
        "product": "OutputData",
        ...
        "before": "20200101",
        "after": "20201231",
        "value": 0.001
    },
    ...
]</pre>

<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

    {% if form.errors %}
    <p class="errornote">
    {% if form.errors|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {{ form.non_field_errors }}
    {% endif %}

    <fieldset class="module aligned">
        <div class="form-row">
            <label class="required">Indicator</label>
            <p>{{ form.object.title }}</p>
        </div>
        <div class="form-row">
            {{ form.file.errors }}
            <label class="required" for="{{ form.file.auto_id }}">{{ form.file.label }}</label>
            {{ form.file }}
            <div class="help">{{ form.file.help_text|safe }}</div>
        </div>
    </fieldset>

    <input type="submit" value="{% trans 'Upload values' %}" class="danger" name="_send">
    <input type="submit" value="{% trans 'Back' %}" name="_back">
</form>

{% endblock %}
