{% extends 'core/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'wizard.css' %}" />
{% endblock %}

{% block script %}
    <script src="{% static 'wizard.js' %}"></script>
{% endblock %}

{% block main %}

<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-8">
            <header>
                <h1>What data are you interested in?</h1>
            </header>
            <div id="app"></div>
        </div>
    </div>
</div>

{% endblock %}
