.card {
    --bs-card-border-radius: 0;
    --bs-card-border-color: var(--isimip-color-gray);
    --bs-card-spacer-x: 1.25rem;
    --bs-card-spacer-y: 0.75rem;
    --bs-card-cap-padding-x: var(--bs-card-spacer-x);
    --bs-card-cap-padding-y: var(--bs-card-spacer-y);

    font-size: 10pt;

    &.card-lg {
        .card-body {
            font-size: 12pt;
        }
    }

    margin-bottom: 2rem;

    h4, p, dl, dd {
        &:last-child {
            margin-bottom: 0;
        }
    }

    .form-check {
        min-height: 1rem;
    }

    .card-header {
        .material-symbols-rounded {
            height: 1rem;
            line-height: 1rem;
        }
    }
}
