@import '../breakpoints';

.home-img-wrapper {
    background-color: black;
    box-shadow: 0 0 4px #ccc;

    position: relative;

    > img {
        width: 100%;

        opacity: 1;
        -webkit-transition: opacity 0.5s ease-in-out;
        -moz-transition: opacity 0.5s ease-in-out;
        -ms-transition: opacity 0.5s ease-in-out;
        -o-transition: opacity 0.5s ease-in-out;
        transition: opacity 0.5s ease-in-out;
    }

    > div {
        display: none; // becomes flex on hover
        align-items: center;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        ul {
            font-size: 18px;
            width: 100%;
            margin: 0;
            padding: 0;

            li {
                list-style: none;
                width: 100%;
                margin: 0;
                padding: 0;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.5);
                }
            }

            a, a:hover, a:focus, a:visited {
                color: white;
                text-decoration: none;
                text-align: center;

                display: block;
                padding: 3px 0;
                width: 100%;
            }
        }

        p {
            font-size: 10px;
            width: 100%;
            text-align: center;

            position: absolute;
            margin: 0;
            padding: 5px;

            color: white;

            a, a:hover, a:focus, a:visited {
                color: white;
                text-decoration: none;
            }
        }
        p:first-child {
            top: 0;
        }
        p:last-child {
            bottom: 0;
        }
    }

    &:hover {
        > img {
            opacity: 0.3;
        }
        > div {
            display: flex;
        }
    }

    @media(max-width: $grid-breakpoint-lg) {
        p:first-child,
        ul {
            display: none;
        }
    }
}

.col-md-3 .home-img-wrapper ul li {
    a, a:hover, a:focus, a:visited {
        font-size: 14px;
        padding: 2px 0;
    }
}
