.w-0 {
    width: 0;
}

.rotate-90 {
    transform: rotate(90deg);
}
.rotate-180 {
    transform: rotate(90deg);
}
.rotate-270 {
    transform: rotate(90deg);
}

.cursor-help {
    cursor: help !important;
}
.cursor-pointer {
    cursor: pointer !important;
}
