:root {
    --isimip-color-black: black;
    --isimip-color-white: white;
    --isimip-color-gray: #a4a4a4;
    --isimip-color-light-gray: #ccc;
    --isimip-color-dark-gray: #4a4a4a;
    --isimip-color-blue: #0681be;
    --isimip-color-light-blue: #eef6ee;
    --isimip-color-dark-blue: #065e8a;
    --isimip-color-orange: #fa9a00;
    --isimip-color-purple: #6B06BF;
    --isimip-color-peru: #CD853F;
    --isimip-color-brown: #A52A2A;
    --isimip-color-deep-pink: #FF1493;

    --bs-body-font-family: 'Open Sans', sans;
    --bs-body-font-size: 11pt;
}
