{% extends 'core/page.html' %}
{% load i18n %}
{% load form_tags %}

{% block page %}

    <h1>{% trans "Set new password" %}</h1>

    <p>
        {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
    </p>

    <form method="post" action="{% url 'account_set_password' %}">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            {% bootstrap_form_field field %}
        {% endfor %}

        {% bootstrap_form_errors form %}

        <input type="submit" class="btn btn-success" value="{% trans 'Set password' %}" />
    </form>

{% endblock %}
