{% extends 'core/page.html' %}
{% load i18n %}

{% block page %}

    <h1>{% trans "Password reset sent" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="text-center">
        {% blocktrans trimmed %}
        We have sent you an email including a link to reset your password.
        {% endblocktrans %}
    </p>

    <p class="text-center">
        {% blocktrans trimmed %}
        If you don't receive an e-mail, make sure you've entered the correct address, and check your spam folder. Please contact us if you do not receive the mail at all.
        {% endblocktrans %}
    </p>

{% endblock %}
