{% extends 'core/page.html' %}
{% load i18n %}
{% load form_tags %}

{% block page %}

    <h1>{% trans "Password reset" %}</h1>

    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>
        {% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset your password." %}
    </p>

    <form method="post" action="{% url 'account_reset_password' %}">
        {% csrf_token %}

        {% for field in form.visible_fields %}
            {% bootstrap_form_field field %}
        {% endfor %}

        {% bootstrap_form_errors form %}

        <input type="submit" class="btn btn-success btn-sm" value="{% trans 'Reset my password' %}" />
    </form>

{% endblock %}
