@import 'colors';

// match bootstap3's behavior
$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 970px,
  xl: 1170px
);

@import '~bootstrap/scss/bootstrap';

@import 'caveats';
@import 'fonts';
@import 'footer';
@import 'home';
@import 'layout';
@import 'messages';
@import 'nav';
@import 'page';
@import 'style';
@import 'symbols';

main {
    background-image: url('../../../core/assets/images/mountain-range.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
