@import 'colors';

// match bootstap3's behavior
$container-max-widths: (
  sm: 540px,
  md: 750px,
  lg: 970px,
  xl: 1170px
);

@import '~bootstrap/scss/bootstrap';

@import 'style';
@import 'fonts';
@import 'layout';
@import 'nav';
@import 'header';
@import 'footer';

main {
    background-image: url('../../../core/assets/images/mountain-range.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $color-neutral-dark;
}
