$FontPathOpenSans: ".~npm-font-open-sans/fonts/";
@import "~npm-font-open-sans/open-sans";

$material-symbols-font-path: '~material-symbols/';
@import '~material-symbols';

@import 'base/cards';
@import 'base/dropdown';
@import 'base/footer';
@import 'base/forms';
@import 'base/header';
@import 'base/home';
@import 'base/identifiers';
@import 'base/layout';
@import 'base/messages';
@import 'base/nav';
@import 'base/symbols';
@import 'base/tooltip';
@import 'base/typography';
@import 'base/variables';

main {
    background-image: url('../../../core/assets/images/mountain-range.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
