.card {
    font-size: 10pt;

    border: 1px solid $color-neutral;
    border-radius: 0;

    margin-bottom: 40px;

    .card-header:last-child {
        border-bottom: none;
    }

    .card-body {
        padding: 0.75rem 1.25rem;
    }

    .card-footer {
        background-color: $color-white;
    }

    h4 {
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 10px;
        word-break: break-all;
    }

    h4,
    p,
    dl,
    dd {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

nav {
    .dropdown-menu {
        top: 64px;

        border-top: none;
        border-radius: 0;
        font-size: 10pt;

        .dropdown-item {
            padding: 0.1rem 1rem;
        }
    }
}

form {
    margin-bottom: 1rem;

    label {
        font-weight: bold;
    }

    .form-group,
    .form-check {
        margin-bottom: 1rem;
    }
}

.form-control {
    border: 1px solid $color-neutral;
    border-radius: 0;
}

.form-card {
    margin-bottom: 40px;

    textarea {
        font-size: 10pt;
    }
}

.btn:not(.btn-link) {
    border: 1px solid $color-neutral;
    border-radius: 0;
}

.btn-link {
    border: none;
}

.pagination {
    .page-link {
        border: 1px solid $color-neutral !important;
        border-radius: 0 !important;
    }
}

.doi-link:before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    background-image: url('../../../core/assets/images/DOI.svg');
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-left: 1px;
}
.doi-link {
    word-break: break-all;
}

.orcid-link:before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    background-image: url('../../../core/assets/images/ORCIDiD.svg');
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    margin-bottom: 3px;
    margin-left: 3px;
}
.orcid-link {
    word-break: break-all;
}

.ror-link:before {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    background-image: url('../../../core/assets/images/ROR.png');
    background-size: 16px 16px;
    height: 16px;
    width: 16px;
    margin-bottom: 1px;
    margin-right: -3px;
    margin-left: 1px;
}
.ror-link {
    word-break: break-all;
}
