{% load i18n %}
{% load core_tags %}

<div class="card">
    <ul class="list-group list-group-flush">
        {% for file in files %}
        <li class="list-group-item">
            <div class="d-md-flex gap-1 align-items-center">
                <a class="d-block" href="{% url 'file' file.id %}" target="_blank">
                    {{ file.name|add_line_breaks }}
                </a>

                <div class="d-none d-md-block me-auto"></div>

                {% if file == current_file %}
                <div class="badge border border-secondary rounded-pill text-secondary mb-1 mb-md-0">
                    this file
                </div>
                {% endif %}
                {% if file == current_version %}
                <div class="badge border border-secondary rounded-pill text-secondary mb-1 mb-md-0">
                    this version
                </div>
                {% endif %}
                <div>
                    {{ file.size|filesizeformat }}
                </div>
            </div>

            <div class="d-md-flex flex-wrap gap-1 align-items-center mt-1">
                {% include 'metadata/snippets/badges.html' with obj=file %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

