{% load i18n %}

<div class="card">
    <ul class="list-group list-group-flush">
        {% for subject in subjects %}
        <li class="list-group-item">
            {{ subject.subject }}
        </li>
        {% endfor %}
        <li class="list-group-item text-muted">
            Global Change Master Directory (GCMD) Keywords are a hierarchical set of controlled vocabularies maintained by NASA (<a href="https://earthdata.nasa.gov/earth-observation-data/find-data/gcmd/gcmd-keywords" target="_blank">more information</a>).
        </li>
    </ul>
</div>
