<div style="margin-left: 170px;">
{% for attribute in widget.attributes %}
    <div style="line-height: 40px;">
        <strong>{{ attribute.identifier }}:</strong>

        {% for specifier in attribute.specifiers %}
        {% if specifier is not None %}
        {% with 'id_specifiers_'|add:attribute.identifier|add:'_'|add:specifier as id %}
        <span>
            <input type="checkbox" id="{{ id }}" {% if id in widget.value %}checked{% endif %}
                   name="specifiers_{{ attribute.identifier }}" value="{{ specifier }}"
                   style="margin-top: -2px; margin-left: 8px;">
            <label class="vCheckboxLabel" style="vertical-align: 0; padding: 0;" for="{{ id }}">{{ specifier }}</label>
        </span>
        {% endwith %}
        {% endif %}
        {% endfor %}
    </div>
    {% if not forloop.last %}<hr />{% endif %}
{% endfor %}
</div>
