@import 'isimip_data/core/assets/scss/colors';
@import 'isimip_data/core/assets/scss/base';

header {
    margin-bottom: 40px;
    text-align: center;
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;

    margin-bottom: 0.75rem;
    word-break: break-all;
}

.btn.btn-link {
    vertical-align: baseline;
}

.related-identifier {
    font-size: 11pt;
}

.cite-as {
    font-size: 12pt;
}

.rights-image {
    min-height: 64px;
}

.attributes {
    .list-inline-item {
        line-height: 24px;
    }
}

.resources {
    table {
        thead {
            th {
                border-top: none;
            }
        }
        ul {
            margin: 0;
        }

        td {
            word-break: break-all;
        }
    }
}

.badge {
    cursor: default;
    margin-right: 0.25rem;

    &:last-child {
        margin-right: 0;
    }
}

a.badge {
    cursor: pointer;
}
