@import 'isimip_data/core/assets/scss/colors';
@import 'isimip_data/core/assets/scss/base';

header {
    margin-bottom: 40px;
}

.card {
    font-size: smaller;

    h4 {
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 10px;
    }
}
