@import 'isimip_data/core/assets/scss/colors';
@import 'isimip_data/core/assets/scss/base';

header {
    margin-bottom: 40px;
    text-align: center;
}

.btn.btn-link {
    font-size: inherit;
    vertical-align: baseline;
}

.related-identifier {
    font-size: 11pt;
}

.new-doi,
.cite-as {
    font-size: 12pt;
}

.rights-image {
    min-height: 64px;
}

.attributes {
    .list-inline-item {
        line-height: 24px;
    }
}

.resources {
    table {
        thead {
            th {
                border-top: none;
            }
        }
        ul {
            margin: 0;
        }
    }
}

.resources-datasets::before {
    content: '';
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}
