{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'indicators.css' %}" />
{% endblock %}

{% block script %}
    <script src="{% static 'indicators.js' %}"></script>
{% endblock %}

{% block main %}
    <div class="container">
        <div class="row justify-content-md-center mb-3">
            <div class="col-md-8">
                <header>
                    <h1>{{ indicator.title }}</h1>
                    {% if indicator.description %}
                    <p>
                        {{ indicator.description }}
                    </p>
                    {% endif %}
                </header>
            </div>
        </div>

        {% if indicator.figures.all %}
        <h3>{% trans 'Figures' %}</h3>
        {% include 'annotations/cards/figures.html' with figures=indicator.figures.all %}
        {% endif %}

        {% if indicator.references.all %}
        <h3>{% trans 'References' %}</h3>
        {% include 'annotations/cards/references.html' with references=indicator.references.all %}
        {% endif %}

        {% if indicator.downloads.all %}
        <h3>{% trans 'Downloads' %}</h3>
        <div class="card">
            <ul class="list-group list-group-flush">
                {% for download in indicator.downloads.all %}
                <li class="list-group-item related-identifier">
                    <a href="{{ download.file.url }}" target="_blank">
                        {{ download.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <h3>Indicator values</h3>
        <div class="card">
            {{ indicator.table|json_script:"table" }}
            <div id="app"></div>
        </div>
    </div>
{% endblock %}
