{% extends 'core/base.html' %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'download.css' %}" />
{% endblock %}

{% block script %}
    <script src="{% static 'download.js' %}"></script>
{% endblock %}

{% block main %}

<div class="container">
    <header>
        <h1>Configure download</h1>

        <p>
          Download file sizes can be reduced by either cutting out an area of a large file or by masking all data outside of a certain country, bounding box or by applying a land-sea-mask. This process is performed on the server and the download starts when the files are ready.
        </p>

        <p>
          Please note that this process can take a considerable amount of time. Depending on the size of the dataset, it can take tens of minutes to create the download. It is only possible to cut out global NetCDF files.
        </p>

        {% if not job_url and not files %}
        <p class="text-danger">
            No files where provided as POST data and no job id was given. Please note that this page needs to be accessed from a dataset or file metadata page, or directly from the search interface.
        </p>
        {% endif %}
    </header>

    {% if job_url %}

    <div id="app"
         data-job-url="{{ job_url }}">
    </div>

    {% elif files %}

    <div id="app"></div>

    {{ files|json_script:"files" }}

    {% endif %}
</div>

{% endblock %}
