{% extends 'core/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'download.css' %}" />
{% endblock %}

{% block script %}
    <script src="{% static 'download.js' %}"></script>
{% endblock %}

{% block main %}

<div class="container">
    <div id="app"></div>

    <div class="row justify-content-md-center mt-3">
        <div class="col-sm-8">
            <p class="text-center">
                Please note that the masking of NetCDF files takes a considerable amount of time. Depending on the size of the dataset, it can take tens of minutes to create the download. It is only possible to mask global files.
            </p>
        </div>
    </div>
</div>

{% endblock %}
