{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ISI-Access</title>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta property="og:title" content="{{ request.site.name }}" />
        <meta property="og:url" content="{{ request.site.domain }}" />

        <link rel="shortcut icon" href="{% static 'images/favicons/favicon.ico' %}" type="image/png" />

        {% block style %}
        <link rel="stylesheet" href="{% static 'base.css' %}" />
        {% endblock %}
    </head>
    <body>
        {% include 'core/base_nav.html' %}
        {% include 'core/base_messages.html' %}

        <main>
            {% include 'core/base_alert.html' %}
            {% block main %}{% endblock %}
        </main>

        {% include 'core/base_footer.html' %}

        {% block script %}
        <script src="{% static 'base.js' %}"></script>
        {% endblock %}
    </body>
</html>
