{% load static %}
{% load i18n %}

<footer>
    <nav>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="https://www.isimip.org/newsletter/">Newsletter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.isimip.org/supporters/">Supporters</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.isimip.org/news/">News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.isimip.org/impressum/">Impressum &amp; Privacy</a>
            </li>
        </ul>
    </nav>
    <hr />
    <div class="logos">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-3 mb-4">
                    <div class="row">
                        <div class="col-10 offset-1 col-md-12 offset-md-0 col-lg-10">
                            <p>
                                <img src="{% static 'images/logo-neutral-dark.png' %}" class="img-fluid">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4 mb-md-0 text-center">
                    <p>
                        <a href="https://isimip.org">ISIMIP</a> offers a framework for consistently projecting the impacts of climate change across affected sectors and spatial scales. An international network of climate-impact modellers contribute to a comprehensive and consistent picture of the world under different climate-change.
                    </p>
                    <p>
                        If you want to get notified, when we find issues in the ISIMIP input and output data, please
                        <a href="{{ settings.CAVEATS_LIST_SUBSCRIBE_URL }}">subscribe to our data
                        issues and notes mailing list</a>.
                    </p>
                    <p>
                        The ISIMIP repository is a service by the <a href="https://www.pik-potsdam.de">Potsdam Institute for Climate Impact Research (PIK)</a>.
                    </p>
                </div>
                <div class="col-md-3">
                    <p>
                        <a href="https://www.bildung-forschung.digital/digitalezukunft/de/wissen/forschungsdaten/vorstellung-12-foerderprojekte-sstandards-von-forschungsdaten/vorstellung-12-foerderprojekte-sstandards-von-forschungsdaten.html" target="_blank">
                            <img src="{% static 'images/bmbf.jpeg' %}" class="img-fluid opacity-75">
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
