{% load static %}
{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo-white.png' %}">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
            {% if settings.LABEL %}
            <span class="navbar-text">
                {{ settings.LABEL|safe }}
            </span>
            {% endif %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'wizard' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'wizard' %}">Wizard</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'search' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'search' %}">Search</a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name in 'metadata,dataset,file' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'metadata' %}">Metadata</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% for link in settings.NAVIGATION %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ link.href }}" target="_blank">{{ link.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
