{% extends 'core/base.html' %}
{% load static %}

{% block main %}

<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-8">
            <header>
                <h1>Welcome to the ISIMIP Data Portal</h1>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                </p>
            </header>
        </div>
    </div>
</div>

{% endblock %}
