{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block style %}
    <link rel="stylesheet" href="{% static 'home.css' %}" />
{% endblock %}

{% block script %}
    <script src="{% static 'home.js' %}"></script>
{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    Filter
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card">
                <div class="card-body">
                    Search
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    Advanced search
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
