$color-white: white;
$color-black: black;
$color-neutral: #a4a4a4;
$color-neutral-light: #ccc;
$color-neutral-dark: #4a4a4a;
$color-primary: #0681be; // blue
$color-primary-light: #eef6ee; // light blue
$color-primary-dark: #065E8A; // dark blue
$color-secondary: #faba53; // was: f5ab35; // orange
$color-secondary-strong: #fa9a00; // Hover color
