header {
    .navbar {
        padding: 0;
        border-bottom: 1px solid $color-neutral-dark;

        .navbar-brand {
            display: block;
            padding: 14px 0 12px 15px;

            @media(min-width:992px) {
                padding: 20px 0 20px 0;
                margin-right: 20px;
            }
            @media(min-width:1200px) {
                margin-right: 60px;
            }
            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;

            &:hover, &:focus {
                opacity: 0.7;
            }

            img {
                width: 120px;
                @media(min-width:992px) {
                    width: 140px;
                }
                display: block;
                height: auto;
            }
        }

        .navbar-toggler {
            margin-right: 14px;
        }
    }
}
