{% extends 'core/base.html' %}
{% load static %}
{% load i18n %}

{% block main %}

<div class="container">
    <header class="wide">
        <h1>Request access</h1>
    </header>

    <div class="card">
        <div class="card-body text-danger">
            <p>
                Access for the path <strong>{{ path }}</strong> cannot be requested. Perhaps you misspelled it?
            </p>
            <p>
                If the problem persists, please do not hesitate to contact us at
                <a href="mailto:info@isimip.org">info@isimip.org</a>.
            </p>
        </div>
    </div>
</div>

{% endblock %}
