@import 'isimip_data/core/assets/scss/colors';
@import 'isimip_data/core/assets/scss/base';

.value-scale {
    position: relative;
    width: 100%;

    .value-scale-background,
    .value-scale-line,
    .value-scale-number {
        position: absolute;
    }

    .value-scale-background {
        height: 8px;
        top: 16px;
        left: 5px;
        right: 5px;
        background-color: #efefef;
        border-left: 1px solid #333;
        border-right: 1px solid #333;
    }
    .value-scale-line {
        width: 2px;
        height: 8px;
        top: 16px;
        background-color: #333;
    }
    .value-scale-number {
        top: 24px;
        left: 0;
        right: 0;
        font-size: 8px;
        color: #333;
    }
}
