@import 'isimip_data/core/assets/scss/base.scss';

.search {
    margin-bottom: 20px;

    .search {
        button {
            width: 100px;
        }
    }
}

.facets {
    .facet {
        margin-bottom: 20px;

        .card-header {
            padding: 0.5rem 0.75rem;
        }

        .facet-item {
            padding: 0.5rem 0.75rem 0.5rem 2rem;

            input {
                margin-top: 0.15rem;
            }
        }

        .list-group {
            max-height: 200px;
            overflow: scroll;
        }
    }
}

.pagination {
    .page-item {
        text-align: center;
        width: 50px;

        &:first-child,
        &:last-child {
            width: 100px;
        }
    }
    .page-item {
        text-align: center;
        width: 50px;
    }
}

.results {
    > li {
        padding: 10px;
    }
}
