@import 'isimip_data/core/assets/scss/base.scss';

.search {
    margin-bottom: 20px;
}

.sidebar {
    min-height: 200px;
    background-color: silver;
}

.results {
    > li {
        padding: 10px;
    }
}
