@import 'isimip_data/core/assets/scss/base.scss';

h4 {
    font-size: 1rem;
    font-weight: 600;
}

.search {
    margin-bottom: 20px;

    .search {
        button {
            width: 100px;
        }
    }
}

.facets {
    font-size: smaller;

    .facet {
        margin-bottom: 10px;

        .card-header {
            padding: 0.5rem 0.75rem;
            cursor: pointer;
        }

        .facet-item {
            padding: 0.5rem 0.75rem 0.5rem 2rem;

            input {
                margin-top: 0.15rem;
            }
        }

        .list-group {
            max-height: 200px;
            overflow: auto;
        }
    }
}

.pagination {
    font-size: smaller;
    margin-bottom: 20px;

    .page-item {
        text-align: center;
        width: 50px;

        &:first-child,
        &:last-child {
            width: 100px;
        }
    }
    .page-item {
        text-align: center;
        width: 50px;
    }
}

.results {
    .result {
        font-size: smaller;
        margin-bottom: 10px;

        .result-options {
            float: right;
            padding-left: 10px;
        }

        .result-files {
            li {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
