{% load i18n %}
<div class="card-body">
    <p class="card-text cite-as">
        {% if resource.datacite %}
        <b>{{ resource.creators_str }} ({{ resource.datacite.publicationYear }}):</b>
        <i>{{ resource.title }}</i> ({{ resource.major_version }}). {{ resource.datacite.publisher }}.
        {% else %}
        {% trans 'Please follow the policies of the original data provider:' %}
        {% endif %}
        <a class="doi-link" href="{{ resource.doi_url }}" target="_blank">{{ resource.doi_url }}</a>
    </p>
</div>
