{% if 'collection' in name.roles %}
<i class="fas fa-cubes" data-toggle="tooltip" data-placement="bottom" title="DataCRediT: Collection"></i>
{% endif %}

{% if 'validation' in name.roles %}
<i class="fas fa-user-check" data-toggle="tooltip" data-placement="bottom" title="DataCRediT: Validation"></i>
{% endif %}

{% if 'curation' in name.roles %}
<i class="fas fa-book-reader" data-toggle="tooltip" data-placement="bottom" title="DataCRediT: Curation"></i>
{% endif %}

{% if 'software' in name.roles %}
<i class="fas fa-file-code" data-toggle="tooltip" data-placement="bottom" title="DataCRediT: Software"></i>
{% endif %}

{% if 'publication' in name.roles %}
<i class="fas fa-book-open" data-toggle="tooltip" data-placement="bottom" title="DataCRediT: Publication"></i>
{% endif %}

{% if 'supervision' in name.roles %}
<i class="fas fa-user-friends" data-toggle="tooltip" data-placement="bottom" title="DataCRediT: Supervision"></i>
{% endif %}
