{% if 'collection' in name.roles %}
<i class="fas fa-cubes" data-toggle="tooltip" data-placement="bottom" title="DataCRediT/Collection: Involvement in gathering and measuring information on targeted variables for a research dataset."></i>
{% endif %}

{% if 'validation' in name.roles %}
<i class="fas fa-user-check" data-toggle="tooltip" data-placement="bottom" title="DataCRediT/Validation: Verification and cleaning of the dataset, whether as a part of the collection activity or separate."></i>
{% endif %}

{% if 'curation' in name.roles %}
<i class="fas fa-book-reader" data-toggle="tooltip" data-placement="bottom" title="DataCRediT/Curation: Involvement in annotating (producing metadata) and maintaining research data for use and re-use."></i>
{% endif %}

{% if 'software' in name.roles %}
<i class="fas fa-file-code" data-toggle="tooltip" data-placement="bottom" title="DataCRediT/Software: Implementation of the computer code and algorithms that assisted in the collection, validation, curation or publication of the dataset."></i>
{% endif %}

{% if 'publication' in name.roles %}
<i class="fas fa-book-open" data-toggle="tooltip" data-placement="bottom" title="DataCRediT/Publication: Responsibility and involvement in activities related to the publication of the research dataset in a science data repository."></i>
{% endif %}

{% if 'supervision' in name.roles %}
<i class="fas fa-user-friends" data-toggle="tooltip" data-placement="bottom" title="DataCRediT/Supervision: Oversight and leadership responsibility for achieving goals related to the collection, validation, curation or publication of the dataset."></i>
{% endif %}
