{% if identifiers %}
<h3>{{ title }}</h3>
<div class="card">
    <ul class="list-group list-group-flush">
        {% for identifier in identifiers %}

        {% if identifier.relatedIdentifierType == 'DOI' %}
        <li class="list-group-item related-identifier">
            {{ identifier.title }}&nbsp;
            <a class="doi-link" href="{{ identifier.relatedIdentifier }}" target="blank">
                {{ identifier.relatedIdentifier }}
            </a>
        </li>
        {% elif identifier.relatedIdentifierType == 'URL' %}
        <li class="list-group-item related-identifier">
            {{ identifier.title }}&nbsp;&rarr;
            <a href="{{ identifier.relatedIdentifier }}" target="blank">
                {{ identifier.relatedIdentifier }}
            </a>
        </li>
        {% endif %}

        {% endfor %}
    </ul>
</div>
{% endif %}
