<p>
    {% if obj.specifiers.simulation_round %}
    <span class="badge badge-primary"
        data-toggle="tooltip" data-placement="bottom" title="Simulation round">
        {{ obj.specifiers.simulation_round }}
    </span>
    {% endif %}
    {% if obj.specifiers.product %}
    <span class="badge badge-secondary"
        data-toggle="tooltip" data-placement="bottom" title="Product">
        {{ obj.specifiers.product }}
    </span>
    {% endif %}
    {% if obj.specifiers.category %}
    <span class="badge badge-success"
        data-toggle="tooltip" data-placement="bottom" title="Category">
        {{ obj.specifiers.category }}
    </span>
    {% endif %}
    {% if obj.specifiers.sector %}
    <span class="badge badge-success"
        data-toggle="tooltip" data-placement="bottom" title="Sector">
        {{ obj.specifiers.sector }}
    </span>
    {% endif %}
    {% if obj.specifiers.model %}
    <span class="badge badge-danger"
        data-toggle="tooltip" data-placement="bottom" title="Impact model">
        {{ obj.specifiers.model }}
    </span>
    {% endif %}
    {% if obj.specifiers.climate_forcing %}
    <span class="badge badge-warning"
        data-toggle="tooltip" data-placement="bottom" title="Climate forcing">
        {{ obj.specifiers.climate_forcing }}
    </span>
    {% endif %}
    {% if obj.specifiers.period %}
    <span class="badge badge-info"
        data-toggle="tooltip" data-placement="bottom" title="Period">
        {{ obj.specifiers.period }}
    </span>
    {% endif %}
    {% if obj.specifiers.variable %}
    <span class="badge badge-light"
        data-toggle="tooltip" data-placement="bottom" title="Variable">
        {{ obj.specifiers.variable }}
    </span>
    {% endif %}
    <span class="badge badge-dark"
        data-toggle="tooltip" data-placement="bottom" title="Last version">
        {{ obj.version }}
    </span>
</p>
