{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% load core_tags %}
{% load metadata_tags %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'metadata.css' %}" />
{% endblock %}

{% block main %}

<div class="container">
    <header class="wide">
        <h1>{% trans 'File' %}</h1>
        <h2>{{ file.name|add_line_breaks }}</h2>
        <div class="mt-2">
            {% include 'metadata/snippets/badges.html' with obj=file %}
        </div>
    </header>

    {% if public_version %}
    {% include 'metadata/cards/public_version.html' with resource='file' %}
    {% endif %}

    <div class="row">
        <div class="col-sm-8">
            <h3>{% trans 'Cite as' %}</h3>
            <div class="cards">
                {% for resource in file.dataset.current_resources %}
                {% include 'metadata/cards/citation.html' with citation_footer=True %}
                {% endfor %}

                {% if file.dataset.current_resources|length > 1 %}
                <div class="card">
                    <div class="card-body">
                        There are multiple DOI registered for this file, please use the
                        citation that applies to your case.
                    </div>
                </div>
                {% endif %}

                {% if file.dataset.current_resources|length == 0 %}
                <div class="card">
                    <div class="card-body">
                        No DOI was registered for file yet. Please follow our general <a href="https://www.isimip.org/gettingstarted/terms-of-use/">terms of use</a>.
                    </div>
                </div>
                {% endif %}
            </div>

            <h3>{% trans 'Properties' %}</h3>
            {% include 'metadata/cards/properties.html' with obj=file %}

            <h3>{% trans 'Specifiers' %}</h3>
            {% include 'metadata/cards/specifiers.html' with obj=file %}
        </div>
        <div class="col-sm-4">
            {% if file.rights_list %}
            <h3>{% trans 'Rights' %}</h3>
            {% include 'metadata/cards/rights.html' with rights_list=file.rights_list %}
            {% endif %}

            {% if file.dataset.public %}

            {% if file.dataset.restricted %}
            <h3>{% trans 'Restricted' %}</h3>
            <div class="card">
                <div class="card-body">
                    {% if has_access %}
                    <div class="text-success">
                        {% blocktrans trimmed %}
                        You already successfully requested access to this file and the
                        access token is stored in this browser.
                        {% endblocktrans %}
                    </div>
                    {% else %}
                    <div class="mb-2">
                        {% blocktrans trimmed %}
                        Access to this file is restricted. To gain access, please use the button below and
                        acknowledge the additional terms of use.
                        {% endblocktrans %}
                    </div>
                    <div>
                        <a class="btn btn-success" href="{% url 'access' file.path %}">
                            {% trans 'Request access' %}
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            <h3>{% trans 'Download' %}</h3>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{{ file.file_url }}">{% trans 'Download file' %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ file.json_url }}">{% trans 'Download metadata file' %}</a>
                    </li>
                    {% if file.is_global and file.is_netcdf %}
                    <li class="list-group-item">
                        <form method="post" action="{% url 'download' %}" target="_blank" class="mb-0">
                            {% csrf_token %}
                            <input type="hidden" name="paths" value="{{ file.path }}">
                            <button type="submit" class="link">{% trans 'Configure download' %}</button>
                        </form>
                    </li>
                    {% endif %}
                </ul>
            </div>

            {% else %}

            <h3>{% trans 'Archived' %}</h3>
            <div class="card">
                <div class="card-body">
                    <p>
                        This file is archived and currently not available for download. Please contact support if you need this version of the file.
                    </p>

                    {% for version in versions %}
                    {% if version.dataset.public %}
                    <p>
                        A newer version of this file is available <a href="{% url 'file' version.id %}">here</a>.
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            {% endif %}
        </div>
    </div>

    <h3>{% trans 'Part of the dataset' %}</h3>
    {% include 'metadata/cards/datasets.html' with datasets=parents %}

    {% if caveats %}
    <h3>{% trans 'Issues and notes for the dataset' %}</h3>
    {% include 'caveats/cards/caveats.html' %}
    {% endif %}

    {% if caveats_versions %}
    <h3>{% trans 'Issues and notes for other versions of the dataset' %}</h3>
    {% include 'caveats/cards/caveats.html' with caveats=caveats_versions %}
    {% endif %}

    {% if file.dataset.files.count > 1 %}
    <h3>{% trans 'Other files in the dataset' %}</h3>
    {% include 'metadata/cards/files.html' with files=file.dataset.files.all current_file=file %}
    {% endif %}

    {% if versions %}
    <h3>{% trans 'All versions of this file' %}</h3>
    {% include 'metadata/cards/files.html' with files=versions current_version=file %}
    {% endif %}
</div>

{% endblock %}
