{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'metadata.css' %}" />
{% endblock %}

{% block main %}

<div class="container">
    <header>
        <h1>{% trans 'File' %}</h1>
        <h2>{{ file.name }}</h2>

        <p>
            {{ file.attributes.description }}
        </p>

        <h4>{% trans 'Size' %}: {{ file.size|filesizeformat }}</h4>
        <h4>{% trans 'Version' %}: {{ file.version }}</h4>
        <h4>{% trans 'ISIMIP ID' %}: {{ file.id }}</h4>
        <h4>{% trans 'Path' %}: {{ file.path }}</h4>
        <h4>{% trans 'Checksum' %}: {{ file.checksum }} ({{ file.checksum_type }})</h4>
    </header>

    <div class="row">
        <div class="col-sm-12">
            <h3>{% trans 'Cite as' %}</h3>
            <div class="card">
                {% if file.dataset.resources.first %}
                    {% with resource=file.dataset.resources.first %}
                    {% include 'metadata/_citation.html' %}
                    {% include 'metadata/_citation_links.html' %}
                    {% endwith %}
                {% else %}
                <div class="card-body">
                    <p class="card-text">
                        No DOI was registered for file yet. Please follow our general <a href="https://www.isimip.org/gettingstarted/terms-of-use/">terms of use</a>.
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-8">
            {% if file.dataset.public %}
            {% include 'metadata/_preview.html' with src=file.thumbnail_url alt=file.name %}
            {% endif %}

            {% include 'metadata/_specifiers.html' %}
        </div>
        <div class="col-sm-4">
            {% include 'metadata/_rights.html' with rights=file.rights %}

            {% if file.dataset.public %}

            <h3>{% trans 'Download' %}</h3>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{{ file.file_url }}">{% trans 'Download file' %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ file.json_url }}">{% trans 'Download metadata file' %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ file.checksum_url }}">{% trans 'Download checksum file' %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{{ file.thumbnail_url }}">{% trans 'Download thumbnail' %}</a>
                    </li>
                    {% if file.is_global and file.is_netcdf %}
                    <li class="list-group-item">
                        <a href="{% url 'download' file.path %}">{% trans 'Configure download' %}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>

            {% else %}

            <h3>{% trans 'Archived' %}</h3>
            <div class="card">
                <div class="card-body">
                    <p>
                        This file is archived and currently not available for download. Please contact support if you need this version of the file.
                    </p>

                    {% for version in versions %}
                    {% if version.dataset.public %}
                    <p>
                        A different version of this file is available <a href="{% url 'file' version.id %}">here</a>.
                    </p>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            {% endif %}
        </div>
    </div>

    <h3>{% trans 'Part of the dataset' %}</h3>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h4>
                    <a href="{% url 'dataset' file.dataset.id %}">{{ file.dataset.name }}</a>
                </h4>
                {% include 'metadata/_shields.html' with obj=file %}
            </li>
        </ul>
    </div>

    {% if file.dataset.files.count > 1 %}
    <h3>{% trans 'Other files in the dataset' %}</h3>
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for sibling in file.dataset.files.all %}
            {% if sibling != file %}
            <li class="list-group-item">
                <h4>
                    <a href="{% url 'file' sibling.id %}">{{ sibling.name }}</a>
                </h4>
                {% include 'metadata/_shields.html' with obj=sibling %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if versions %}
    <h3>{% trans 'Other versions of this file' %}</h3>
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for version in versions %}
            <li class="list-group-item">
                <h4>
                    <a href="{% url 'file' version.id %}">{{ version.name }}</a>
                </h4>
                {% include 'metadata/_shields.html' with obj=version %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock %}
