{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'metadata.css' %}" />
{% endblock %}

{% block main %}

<div class="container">
    <header>
        <h1>{% trans 'Identifier statistics' %}</h1>
    </header>

    {% for identifier, rows in identifiers %}
    <div class="card identifiers">
        <div class="card-header">
            <strong>{{ identifier }}</strong>
        </div>
        <div class="card-body">
            <div class="d-flex flex-wrap row-gap-1 column-gap-2">
            {% for specifier, count in rows %}
            {% if count > 0 %}
            <div class="d-flex gap-2 align-items-center border border-gray rounded ps-2 pe-2">
                <strong>{{ specifier }}</strong>
                <div class="badge rounded-pill text-bg-secondary">
                    {{ count }}
                </div>
            </div>
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
