{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'metadata.css' %}" />
{% endblock %}

{% block main %}

<div class="container">
    <header>
        <h1>{% trans 'Identifiers' %}</h1>
    </header>

    <div class="card identifiers">
        <ul class="list-group list-group-flush">
            {% for identifier in identifiers %}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-3">
                        <a href="{{ identifier.get_absolute_url }}">{{ identifier.identifier }}</a>
                    </div>
                    <div class="col-9">
                        <p>{{ identifier.specifiers|join:', ' }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
