{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'metadata.css' %}" />
{% endblock %}

{% block main %}

<div class="container">
    <header>
        <h1>{% trans 'Identifier statistics' %}</h1>
    </header>

    {% for identifier, rows in identifiers %}
    <div class="card identifiers">
        <div class="card-header">
            <strong>{{ identifier }}</strong>
        </div>
        <div class="card-body">
            <ul class="list-inline mb-0">
            {% for specifier, count in rows %}
            {% if count > 0 %}
            <li class="list-inline-item">
                {{ specifier }}
                <div class="badge rounded-pill text-bg-secondary">
                    {{ count }}
                </div>
            </li>
            {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
