{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'metadata.css' %}" />
{% endblock %}

{% block script %}
    <script src="{% static 'metadata.js' %}"></script>
{% endblock %}

{% block main %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <header>
                <h1>{% trans 'Metadata' %}</h1>

                <p>
                    Please give the SHA1 checksum of a file (e.g. <code>{{ example_file.checksum }}</code>) to be redirected to the corresponding information page. The checksum of a file can be computed with tools like <code>sha1sum</code>. You can also drag the file to the area below to compute its checksum automatically.
                </p>

                <form id="metadata-form" class="text-center" method="GET">
                    <div class="form-group" >
                        <label for="metadata-form-input">File checksum</label>
                        <textarea id="metadata-form-input" class="form-control text-center sha1-drop" rows=6
                            name="file" aria-describedby="file-input-help" autofocus></textarea>
                        <small id="metadata-form-help" class="form-text text-muted">
                             You can drag into the area to compute its checksum automatically (for files < 300M).
                        </small>
                    </div>
                    <button id="metadata-form-submit" type="submit" class="btn btn-success">Go to metadata page</button>
                </form>
            </header>
        </div>
    </div>
</div>

{% endblock %}
