{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'metadata.css' %}" />
{% endblock %}

{% block main %}

<div class="container">
    <header>
        <h1>Resources</h1>

        <h4>
            The following resources have been registered.
        </h4>
    </header>

    {% for resource in resources %}
    <div class="card">
        <div class="card-body">
            {% include 'metadata/_citation.html' %}

            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a href="{% url 'resource' resource.doi %}">{% trans 'Landing page' %}</a>
                </li>
                <li class="list-inline-item">
                    <a href="{% url 'resource_bibtex' resource.doi %}">{% trans 'BibTeX' %}</a>
                </li>
                <li class="list-inline-item">
                    <a href="{% url 'resource_datacite_xml' resource.doi %}">{% trans 'DataCite XML' %}</a>
                </li>
                <li class="list-inline-item">
                    <a href="{% url 'resource_datacite_json' resource.doi %}">{% trans 'DataCite JSON' %}</a>
                </li>
            </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
