{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'metadata.css' %}" />
{% endblock %}

{% block main %}

<div class="container">
    <header>
        <h1>Resources</h1>

        <h4>
            The following resources have been registered.
        </h4>
    </header>

    {% for resource in resources %}
    <div class="card mb-3">
        {% include 'metadata/_citation.html' %}
        {% include 'metadata/_citation_links.html' %}
    </div>
    {% endfor %}
</div>

{% endblock %}
