{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% load core_tags %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'metadata.css' %}" />
{% endblock %}

{% block main %}

<div class="container">
    <header>
        <h1>{{ resource.title }}</h1>

        <h4>
            {% blocktrans trimmed with resource_type=resource.type doi_url=resource.doi_url %}
            You can use the following DOI to cite this resource in a publication:
            <a href="{{ doi_url }}">{{ doi_url }}</a>.
            {% endblocktrans %}
        </h4>
    </header>

    <div class="row">
        <div class="col-sm-12">
            <h3>{% trans 'Cite as' %}</h3>
            <div class="card">
                {% include 'metadata/_citation.html' %}
            </div>
        </div>

        <div class="col-sm-8">
            <h3>{% trans 'Metadata' %}</h3>
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Publication date:</dt>
                        <dd class="col-sm-9">{{ resource.publication_date|date:"DATE_FORMAT" }}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Publisher:</dt>
                        <dd class="col-sm-9">{{ resource.datacite.publisher }}</dd>
                    </dl>
                    {% for description in resource.datacite.descriptions %}
                    <dl class="row">
                        <dt class="col-sm-3 text-right">{{ description.descriptionType }}:</dt>
                        <dd class="col-sm-9">
                        {% for paragraph in description.description|split_br %}
                            <p>{{ paragraph }}</p>
                        {% endfor %}
                        </dd>
                    </dl>
                    {% endfor %}
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Creators:</dt>
                        <dd class="col-sm-9">
                            <ul class="list-unstyled">
                                {% for creator in resource.datacite.creators %}
                                <li>
                                    {{ creator.givenName }} {{ creator.familyName }}
                                    {% include 'metadata/_name_credit.html' with name=creator %}
                                    {% include 'metadata/_name_identifier.html' with name=creator %}
                                </li>
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                    {% if resource.contact_persons %}
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Contact person:</dt>
                        <dd class="col-sm-9">
                            <ul class="list-unstyled">
                                {% for contact_persion in resource.contact_persons %}
                                <li>
                                    {{ contact_persion.name }}
                                    {% include 'metadata/_name_identifier.html' with name=contact_persion %}
                                </li>
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                    {% endif %}
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Contributors:</dt>
                        <dd class="col-sm-9">
                            <ul class="list-unstyled">
                                {% for contributor in resource.datacite.contributors %}
                                {% if contributor.nameType == 'Organizational' %}
                                <li>
                                    {{ contributor.name }}
                                    {% include 'metadata/_name_identifier.html' with name=contributor %}
                                </li>
                                {% else %}
                                <li>
                                    {{ contributor.givenName }} {{ contributor.familyName }}
                                    {% include 'metadata/_name_credit.html' with name=contributor %}
                                    {% include 'metadata/_name_identifier.html' with name=contributor %}
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                    <p class="text-muted">
                        The icons indicate the different roles of the Data Authorship Contributor Roles Taxonomy <a href="https://www.wsl.ch/datacredit/">DataCRediT</a>, which was initially developed for <a href="https://www.envidat.ch">EnviDat</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            {% include 'metadata/_rights.html' with rights=resource.rights %}

            <h3>{% trans 'Export' %}</h3>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'resource_bibtex' resource.doi %}">{% trans 'BibTeX' %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'resource_datacite_xml' resource.doi %}">{% trans 'DataCite XML' %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'resource_datacite_json' resource.doi %}">{% trans 'DataCite JSON' %}</a>
                    </li>
                </ul>
            </div>

            <h3>{% trans 'Download' %}</h3>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'resource-detail-filelist' resource.id %}">{% trans 'Download file list' %}</a>
                    </li>
                </ul>
            </div>

            <h3>{% trans 'References' %}</h3>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for identifier in resource.datacite.relatedIdentifiers %}
                    {% if identifier.relationType != 'HasPart' %}
                    {% if identifier.relatedIdentifierType == 'DOI' or identifier.relatedIdentifierType == 'URL' %}
                    <li class="list-group-item">
                        <a href="{{ identifier.relatedIdentifier }}" target="blank">
                            {{ identifier.title }}
                        </a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>

            {% if resource.datacite.subjects %}
            <h3>{% trans 'GCMD Keywords' %}</h3>
            <div class="card">
                <ul class="list-group list-group-flush">
                    {% for subject in resource.datacite.subjects %}
                    <li class="list-group-item">
                        {{ subject.subject }}
                    </li>
                    {% endfor %}
                    <li class="list-group-item text-muted">
                        Global Change Master Directory (GCMD) Keywords are a hierarchical set of controlled vocabularies maintained by NASA (<a href="https://earthdata.nasa.gov/earth-observation-data/find-data/gcmd/gcmd-keywords" target="_blank">more information</a>).
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>

    {% if resource.datasets.all %}
    <h3>{% trans 'Datasets in this resource' %}</h3>
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for dataset in resource.datasets.all %}
            <li class="list-group-item">
                <h4>
                    <a href="{% url 'dataset' dataset.id %}">{{ dataset.name }}</a>
                </h4>
                {% include 'metadata/_shields.html' with obj=dataset %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock %}
