{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'metadata.css' %}" />
{% endblock %}

{% block main %}

<div class="container">
    <header>
        <h1>{{ resource.title }}</h1>

        <h4>
            {% blocktrans trimmed with resource_type=resource.type doi_url=resource.doi_url %}
            You can use the following DOI to cite this {{ resource_type }} in a publication:
            <a href="{{ doi_url }}">{{ doi_url }}</a>.
            {% endblocktrans %}
        </h4>
    </header>

    <div class="row">
        <div class="col-sm-12">
            <h3>{% trans 'Cite as' %}</h3>
            <div class="card">
                <div class="card-body">
                    <p class="cite-as">
                        <b>{{ resource.creators }} ({{ resource.datacite.publicationYear }}):</b>
                        <i>{{ resource.title }}</i> ({{ resource.major_version }}). {{ resource.datacite.publisher }}.
                        <a class="doi-link" href="{{ resource.doi_url }}">{{ resource.doi_url }}</a>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <h3>{% trans 'Metadata' %}</h3>
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Publication date:</dt>
                        <dd class="col-sm-9">{{ resource.publication_date|date:"DATE_FORMAT" }}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Publisher:</dt>
                        <dd class="col-sm-9">{{ resource.datacite.publisher }}</dd>
                    </dl>
                    {% for description in resource.datacite.descriptions %}
                    <dl class="row">
                        <dt class="col-sm-3 text-right">{{ description.descriptionType }}:</dt>
                        <dd class="col-sm-9">{{ description.description }}</dd>
                    </dl>
                    {% endfor %}
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Creators:</dt>
                        <dd class="col-sm-9">
                            <ul class="list-unstyled">
                                {% for creator in resource.datacite.creators %}
                                <li>{{ creator.givenName }} {{ creator.familyName }}
                                    {% if creator.nameIdentifier %}
                                    <a class="orcid-link" href="https://orcid.org/{{ creator.nameIdentifier }}">
                                        {{ creator.nameIdentifier }}
                                    </a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Contributors:</dt>
                        <dd class="col-sm-9">
                            <ul class="list-unstyled">
                                {% for contributor in resource.datacite.contributors %}
                                {% if contributor.nameType == 'Organizational' %}
                                <li>{{ contributor.name }} <i>({{ contributor.contributorType }})</i>
                                    {% if contributor.nameIdentifier %}
                                    <a class="ror-link" href="https://ror.org/{{ contributor.nameIdentifier }}">
                                        {{ contributor.nameIdentifier }}
                                    </a>
                                    {% endif %}
                                </li>
                                {% else %}
                                <li>{{ contributor.givenName }} {{ contributor.familyName }} <i>({{ contributor.contributorType }})</i>
                                    {% if contributor.nameIdentifier %}
                                    <a class="orcid-link" href="https://orcid.org/{{ contributor.nameIdentifier }}">
                                        {{ contributor.nameIdentifier }}
                                    </a>
                                    {% endif %}
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <h3>{% trans 'Rights' %}</h3>
            <div class="card">
                <div class="card-body">
                    <p>
                        {% for rights in resource.datacite.rightsList %}
                        <a href="{{ rights.rightsURI }}">{{ rights.rights }}</a>
                        {% endfor %}
                    </p>
                </div>
            </div>

            <h3>{% trans 'Export' %}</h3>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'resource_bibtex' resource.doi %}">{% trans 'BibTeX' %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'resource_datacite_xml' resource.doi %}">{% trans 'DataCite XML' %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'resource_datacite_json' resource.doi %}">{% trans 'DataCite JSON' %}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    {% if resource.datasets.all %}
    <h3>{% trans 'Datasets in this category' %}</h3>
    <div class="card">
        <ul class="list-group list-group-flush">
            {% for dataset in resource.datasets.all %}
            <li class="list-group-item">
                <h4>
                    <a href="{% url 'dataset' dataset.id %}">{{ dataset.name }}</a>
                </h4>
                {% include 'metadata/_shields.html' with obj=dataset %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock %}
