{% extends 'core/base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'resources.css' %}" />
{% endblock %}

{% block script %}
    <script src="{% static 'resources.js' %}"></script>
{% endblock %}

{% block main %}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <header>
                <h1>Digital Object Identifier</h1>

                <p>
                    In order to make our data uniquely identifiable and citable in scolarly publications, we use Digital Object Identifiers. While for output data, we register one DOI per sector, for input data, we create one DOI per subcategory, e.g. socioeconomic/landuse. The DOI metadata contains references to each included dataset. The DOI are registered using the DOI service of <a href="https://datacite.org/" target="_blank">DataCite</a>.
                </p>

                <p>
                    If you use ISIMIP data in your research, we kindly ask you to cite the used dataset using the DOI listed here. More information can be found in our <a href="https://www.isimip.org/gettingstarted/terms-of-use/" target="_blank">Terms of Use</a>.
                </p>
            </header>
        </div>
    </div>

    <div id="app"></div>
</div>

{% endblock %}
