{% extends 'core/base.html' %}
{% load i18n %}
{% load static %}
{% load core_tags %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'metadata.css' %}" />
{% endblock %}

{% block main %}

<div class="container">
    <header>
        <h1>{{ resource.title }}</h1>
    </header>

    <div class="row">
        <div class="col-sm-12">
            <h3>{% trans 'Cite as' %}</h3>
            {% include 'metadata/cards/citation.html' %}
        </div>
    </div>

    {% if resource.datacite %}
    <div class="row">
        <div class="col-sm-8">
            <h3>{% trans 'Metadata' %}</h3>
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3 text-right">DOI:</dt>
                        <dd class="col-sm-9">
                            <a href="{{ resource.doi_url }}" target="_blank">
                                {{ resource.doi_url }}
                            </a>
                        </dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Title:</dt>
                        <dd class="col-sm-9">{{ resource.title }}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Creators:</dt>
                        <dd class="col-sm-9">
                            <ul class="list-unstyled mb-0">
                                {% for creator in resource.datacite.creators %}
                                <li>
                                    {% if creator.givenName and creator.familyName %}
                                        {{ creator.givenName }} {{ creator.familyName }}
                                    {% else %}
                                        {{ creator.name }}
                                    {% endif %}
                                    {% include 'metadata/snippets/name_credit.html' with name=creator %}
                                    {% include 'metadata/snippets/name_identifier.html' with name=creator %}
                                </li>
                                {% endfor %}
                            </ul>
                        </dd>
                    </dl>
                    {% if resource.contact_persons %}
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Contact person:</dt>
                        <dd class="col-sm-9">
                            <ul class="list-unstyled mb-0">
                                {% for contact_persion in resource.contact_persons %}
                                <li>
                                    {{ contact_persion.name }}
                                    {% include 'metadata/snippets/name_identifier.html' with name=contact_persion %}
                                </li>
                                {% endfor %}
                            </ul>
                            <p class="text-muted mt-1 mb-0">
                                For inqueries concerning this dataset, please contact <a href="mailto:info@isimip.org">info@isimip.org</a>.
                            </p>
                        </dd>
                    </dl>
                    {% endif %}
                    {% for description in resource.datacite.descriptions %}
                    <dl class="row">
                        <dt class="col-sm-3 text-right">{{ description.descriptionType }}:</dt>
                        <dd class="col-sm-9">
                        {% for paragraph in description.description|split_br %}
                            <p>{{ paragraph }}</p>
                        {% endfor %}
                        </dd>
                    </dl>
                    {% endfor %}
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Publication date:</dt>
                        <dd class="col-sm-9">{{ resource.publication_date|date:"DATE_FORMAT" }}</dd>
                    </dl>
                    <dl class="row">
                        <dt class="col-sm-3 text-right">Publisher:</dt>
                        <dd class="col-sm-9">{{ resource.datacite.publisher }}</dd>
                    </dl>
                    <dl class="row mb-2">
                        <dt class="col-sm-3 text-right">Contributors:</dt>
                        <dd class="col-sm-9">
                            <ul class="list-unstyled mb-0">
                                {% for contributor in resource.datacite.contributors %}
                                {% if contributor.nameType == 'Organizational' %}
                                <li>
                                    {{ contributor.name }}
                                    {% include 'metadata/snippets/name_identifier.html' with name=contributor %}
                                </li>
                                {% else %}
                                <li>
                                    {{ contributor.givenName }} {{ contributor.familyName }}
                                    {% include 'metadata/snippets/name_credit.html' with name=contributor %}
                                    {% include 'metadata/snippets/name_identifier.html' with name=contributor %}
                                </li>
                                {% endif %}
                                {% endfor %}
                            </ul>
                            <p class="text-muted mt-1 mb-0">
                                Here we list the persons and organizations, who are responsible for the collection, the management, and the publication of this dataset. The icons indicate the different roles of the Data Authorship Contributor Roles Taxonomy <a href="https://www.wsl.ch/datacredit/">DataCRediT</a>, which was initially developed for <a href="https://www.envidat.ch">EnviDat</a>.
                            </p>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            {% if resource.rights %}
            <h3>{% trans 'Rights' %}</h3>
            {% include 'metadata/cards/rights.html' with rights=resource.rights %}
            {% endif %}

            <h3>{% trans 'Export' %}</h3>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'resource_bibtex' resource.doi %}">{% trans 'BibTeX' %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'resource_datacite_xml' resource.doi %}">{% trans 'DataCite XML' %}</a>
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'resource_datacite_json' resource.doi %}">{% trans 'DataCite JSON' %}</a>
                    </li>
                </ul>
            </div>

            <h3>{% trans 'Download' %}</h3>
            <div class="card">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="{% url 'resource-detail-filelist' resource.id %}">{% trans 'Download file list' %}</a>
                    </li>
                </ul>
            </div>

            {% if resource.datacite.subjects %}
            <h3>{% trans 'GCMD Keywords' %}</h3>
            {% include 'metadata/cards/keywords.html' with subjects=resource.datacite.subjects %}
            {% endif %}
        </div>
    </div>

    {% if references.IsNewVersionOf %}
    <h3>{% trans 'Is new version of' %}</h3>
    {% include 'metadata/cards/related_identifiers.html' with related_identifiers=references.IsNewVersionOf %}
    {% endif %}

    {% if references.IsDocumentedBy %}
    <h3>{% trans 'Is documented by' %}</h3>
    {% include 'metadata/cards/related_identifiers.html' with related_identifiers=references.IsDocumentedBy %}
    {% endif %}

    {% if references.Cites %}
    <h3>{% trans 'References' %}</h3>
    {% include 'metadata/cards/related_identifiers.html' with related_identifiers=references.Cites %}
    {% endif %}

    {% if references.IsDerivedFrom %}
    <h3>{% trans 'Is derived from' %}</h3>
    {% include 'metadata/cards/related_identifiers.html' with related_identifiers=references.IsDerivedFrom %}
    {% endif %}

    {% if references.Other %}
    <h3>{% trans 'Other references' %}</h3>
    {% include 'metadata/cards/related_identifiers.html' with related_identifiers=references.Other %}
    {% endif %}

    {% endif %}

    {% if caveats %}
    <h3>{% trans 'Caveats for datasets for this DOI' %}</h3>
    {% include 'caveats/cards/caveats.html' %}
    {% endif %}

    {% if resource.datasets.exists %}
    <h3>{% trans 'Datasets for this DOI' %}</h3>
    {% include 'metadata/cards/datasets.html' with datasets=resource.datasets.all %}
    {% endif %}
</div>

{% endblock %}
