{% load i18n %}

<div class="card">
    <ul class="list-group list-group-flush">
        {% for caveat in caveats %}
        <li class="list-group-item">
            <h4>
                <div class="float-right">
                    {% if request.user in caveat.subscribers.all %}
                        {% include 'caveats/snippets/subscribed.html' %}
                    {% endif %}
                    {% if not caveat.public %}
                        {% include 'caveats/snippets/not_public.html' %}
                    {% endif %}
                    {% include 'caveats/snippets/severity.html' %}
                    {% include 'caveats/snippets/status.html' %}
                </div>
                <a href="{% url 'caveat' caveat.id %}">{{ caveat.title }}</a>
                <span class="text-muted">#{{ caveat.id }}</span>
            </h4>
            {% if caveat.severity_level > 1 %}
            <div class="mb-2">
                {% include 'caveats/snippets/severity_message.html' %}
            </div>
            {% endif %}
            <ul class="list-inline float-right">
                <li class="list-inline-item">{% trans 'Affected versions' %}: {% include 'caveats/snippets/versions.html' %}</li>
            </ul>
            <p>
                {{ caveat.get_creator_display }} opened this caveat on {{ caveat.created|date }}.
                {% if caveat.created != caveat.updated %}It was last updated on {{ caveat.updated|date }}.{% endif %}
            </p>
        </li>
        {% endfor %}
    </ul>
</div>
