{% load i18n %}
{% load form_tags %}

{% if comments %}
{% for comment in comments %}
<div class="card mb-2" id="comment-{{ comment.id }}">
    <div class="card-header">
        {% if not comment.public %}
        <div class="float-right">
            {% include 'caveats/snippets/not_public.html' %}
        </div>
        {% endif %}
        <strong>{{ comment.get_creator_display }}</strong> commented on {{ comment.created|date }}.
    </div>
    <div class="card-body">
        {% if request.user.is_staff %}
        <a class="d-block float-right" href="{% url 'admin:caveats_comment_change' comment.id %}">
            <i class="fas fa-pen"></i>
        </a>
        {% endif %}

        {{ comment.text|linebreaksbr|urlize }}
    </div>
</div>
{% endfor %}
{% else %}
<div class="card mb-2">
    <div class="card-body">
        {% trans 'No comments have been submitted, yet.' %}
        {% if not request.user.is_authenticated %}
            {% url 'account_login' as login_url %}
            {% blocktrans trimmed with next=request.path %}
            <a href="{{ login_url }}?next={{ next }}">Login</a> to leave a comment.
            {% endblocktrans %}
        {% endif %}
    </div>
</div>
{% endif %}

{% if request.user.is_authenticated %}
<form class="form-card" id="reply" action="{% url 'comment_create' %}" method="post">
    {% csrf_token %}

    {% for field in comment_form.hidden_fields %}
        {{ field }}
    {% endfor %}

    {% for field in comment_form.visible_fields %}
        {% bootstrap_form_field field %}
    {% endfor %}

    {% bootstrap_form_errors comment_form %}

    <input type="submit" class="btn btn-success mt-2" value="{% trans 'Comment' %}" />
</form>
{% elif comments %}
<div class="card">
    <div class="card-body">
        {% if not request.user.is_authenticated %}
            {% url 'account_login' as login_url %}
            {% blocktrans trimmed with next=request.path %}
            <a href="{{ login_url }}?next={{ next }}">Login</a> to leave a comment.
            {% endblocktrans %}
        {% endif %}
    </div>
</div>
{% endif %}
