@import 'isimip_data/core/assets/scss/colors';
@import 'isimip_data/core/assets/scss/base';

.download-row {
    min-height: 46px;
}

form .form-check {
    margin-bottom: 0.5rem;

    &:last-child {
        margin-bottom: 0;
    }

    label.text-muted {
        font-weight: normal;
    }
}
